github "squimer/DatePickerDialog-iOS-Swift"
github "SwiftyJSON/SwiftyJSON"
github "Alamofire/Alamofire"
github "AssistoLab/DropDown"
github "rs/SDWebImage"
github "stephencelis/SQLite.swift"
github "Yalantis/Segmentio"
github "mixpanel/mixpanel-swift"
