github "squimer/DatePickerDialog-iOS-Swift"
github "SwiftyJSON/SwiftyJSON"
github "Alamofire/Alamofire" ~> 4.3
github "AssistoLab/DropDown"
github "rs/SDWebImage"
github "stephencelis/SQLite.swift" ~> 0.11.2
github "Yalantis/Segmentio" ~> 2.1