<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>335826708127-44jd30brdtmvn6n41fd84a0aj8472fkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335826708127-44jd30brdtmvn6n41fd84a0aj8472fkn</string>
	<key>API_KEY</key>
	<string>AIzaSyC-n297A1OuDBp1yAW7WxW8141p2WWjsUE</string>
	<key>GCM_SENDER_ID</key>
	<string>335826708127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobi.primo.app.ios</string>
	<key>PROJECT_ID</key>
	<string>test-ios-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>test-ios-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335826708127:ios:dd4d3e3b12862447</string>
	<key>DATABASE_URL</key>
	<string>https://test-ios-notification.firebaseio.com</string>
</dict>
</plist>